.background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
}

.border {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin: 20px;
}

.border {
    position: relative;
    display: flex;
    align-items: center;
    border: 5px double #c0c0c0;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    animation: spin 1.5s ease-in-out infinite;
}

.loading {
    position: relative;
    left: -9px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #FFA71B;
}

@keyframes spin {
    100% { transform: rotate(360deg); }
}

.text {
    font-size: 24px;
}